.urlbarView-row[selected] {
  background-color: #eb6f92 !important; /* Change this to your desired color */
}

.urlbarView-row:hover {
  background-color: #eb6f92 !important;
}

:root {
  &[lwtheme] {
    --tab-selected-outline-color: transparent !important;
  }
}
