* {
    font-family: "Maple Mono NF CN", "icomoon-feather", "Noto Sans CJK KR", "Noto Sans Arabic";
    font-size: 13px;
    font-weight: normal;
    border: none;
    border-radius: 0;
    min-height: 0;
}
window#waybar {
    background-color: alpha(#faf4ed, 0.99);
    color: #575279;
}
#workspaces {
    background-color: #907aa9;
    border-radius: 12px;
    margin: 4px 10px 4px 10px;
    padding: 0 6px;
}
#workspaces button {
    color: #dfdad9;
    padding: 0 4px;
    background: transparent;
    border-radius: 12px;
}
#workspaces button.focused,
#workspaces button.active {
    color: #faf4ed;
    background-color: #907aa9;
    font-weight: bold;
}
#workspaces button:hover {
    background: rgba(0,0,0,0.1);
}
#window {
    background-color: #f2e9e1;
    color: #575279;
    border-radius: 12px;
    margin: 6px 4px;
    padding: 0 10px;
}
#mode {
    background-color: #f2e9e1;
    color: #b4637a;
    border-radius: 12px;
    margin: 6px 4px;
    padding: 0 10px;
}
#custom-cmus {
    background-color: #f2e9e1;
    color: #575279;
    border-radius: 12px;
    margin: 6px 4px;
    padding: 0 10px;
}
#custom-mpd-prev,
#custom-mpd-toggle,
#custom-mpd-next {
    background-color: #f2e9e1;
    color: #b4637a;
    border-radius: 12px;
    margin: 6px 2px;
    padding: 0 10px;
}
#custom-mpd-title {
    background-color: #f2e9e1;
    color: #575279;
    border-radius: 12px;
    margin: 6px 2px;
    padding: 0 10px;
}
#pulseaudio {
    background-color: #f2e9e1;
    color: #575279;
    border-radius: 12px;
    margin: 6px 2px;
    padding: 0 10px;
}
#pulseaudio.muted {
    color: #b4637a;
}
#temperature {
    background-color: #f2e9e1;
    color: #575279;
    border-radius: 12px;
    margin: 6px 2px;
    padding: 0 10px;
}
#temperature.critical {
    color: #b4637a;
}
#cpu {
    background-color: #f2e9e1;
    color: #575279;
    border-radius: 12px;
    margin: 6px 2px;
    padding: 0 10px;
}
#memory {
    background-color: #f2e9e1;
    color: #575279;
    border-radius: 12px;
    margin: 6px 2px;
    padding: 0 10px;
}
#clock {
    background-color: #f2e9e1;
    color: #575279;
    border-radius: 12px;
    margin: 6px 2px;
    padding: 0 10px;
}
#custom-powermenu {
    background-color: #f2e9e1;
    color: #b4637a;
    border-radius: 12px;
    margin: 6px 10px 6px 10px;
    padding: 0 10px;
}
